<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <!--<div class="text-right">
    <span class="badge badge-primary">Michcode</span>
    <p>
      Este es un mensaje de chat
    </p>
  </div>

  <div>
    <span class="badge badge-success">Jose</span>
    <p>
      Saludos chin
    </p>
  </div>-->
  <div class="text-right" *ngFor="let chat of chatService.chats">
    <span class="badge badge-primary">Michcode</span>
    <p>
      {{chat.mensaje}}
    </p>
  </div>

</div>

<input type="text" name="mensaje" class="form-control" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje" >
