<!--<ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.mensaje}}
  </li>
</ul>-->
<div class="container main-container">
  <h1>Firechat</h1>
  <app-login></app-login>


  <!--<div class="chat-window">
    <app-chat></app-chat>
  </div>-->
</div>


